{% extends 'base.html' %}

{% block heading %}
    List of registered torrents
{% endblock %}

{% block content %}
    <table class="table table-condensed">
        <thead>
            <th>Name</th>
        </thead>
        <tbody>
            {% for torrent in object_list %}
                <tr>
                    <td><a href="{{ torrent.get_absolute_url }}">{{ torrent.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}