{% extends 'base.html' %}

{% block heading %}
    {{ object.name }}

    {% if object.date_created %}
        <small>{{ object.date_created }}</small>
    {% endif %}
{% endblock %}

{% block content %}
    <h3>General Information</h3>
    <table class="table table-condensed">
        <tr>
            <td class="col-sm-2 col-lg-1"><strong>Name</strong></td>
            <td>{{ object.name }}</td>
        </tr>
        {% if object.date_created %}
            <tr>
                <td><strong>Created on</strong></td>
                <td>{{ object.date_created }}</td>
            </tr>
        {% endif %}
        {% if object.created_by %}
            <tr>
                <td><strong>Created by</strong></td>
                <td>{{ object.created_by }}</td>
            </tr>
        {% endif %}
        <tr>
            <td><strong>Piece size</strong></td>
            <td>{{ object.piece_length|filesizeformat }}</td>
        </tr>
        <tr>
            <td><strong>Privacy</strong></td>
            <td>
                {% if object.private %}
                    <strong class="text-success">Private</strong> — Clients that honour the private flag will not allow you to join multiple
                    swarms at once, and will not allow you to use peer-sharing technologies like DHT.
                {% else %}
                    <strong class="text-danger">Public</strong> — You will not be restricted from joining multiple swarms at once and using
                    peer-sharing technologies like DHT.
                {% endif %}
            </td>
        </tr>
    </table>

    <h3>Files</h3>
    <table class="table table-condensed">
        <thead>
            <th>Path</th>
            <th>Size</th>
        </thead>
        <tbody>
            {% for file in object.file_set.all %}
                <tr>
                    <td>
                        <span class="text-muted">{{ file.owning_directory }}</span>/{{ file.filename }}
                    </td>
                    <td>
                        {{ file.length|filesizeformat }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}